<%= month_calendar(attribute: :date, events: @photos )do |date, photos| %>
  <date><%= date %></date>

  <% photos.each do |photo| %>
    <div style="background-image: url('<%= photo.image.url(:thumb) %>')">
    </div>
  <% end %>
<% end %>