<h3>This Project <%= project.proofs.count ? 'has' : 'have' %> <%= pluralize( project.proofs.count, 'Proof' ) %></h3>

<ul class="proofs">
  <% project.proofs.each do |proof| %>
    <li class="proof">
      <h4><%= proof.title %></h4>
      <div class="container">
        <%= image_tag proof.image %>
      </div>
    </li>
  <% end %>
</ul>